@import url('https://fonts.googleapis.com/css?family=Quicksand:regular,bold,italic&subset=latin,latin-ext');

$body-font: 'Quicksand', sans-serif;
$color-font: #4953BE;
$results-font-color: #464FAC;
$main-color-bg: #4751C0;
$second-color-bg: #FFFFFF;
$color-button: #424A9E;
$color-button-gradient: linear-gradient(90deg, #FFA67A 0%, #FF6065 100%);
$color-text-home: #F7A491;
$color-background-wrong: #FFDBDB;